[submodule "graph-app-config-service"]
	path = graph-app-config-service
	url = https://github.com/Echelon133/graph-app-config-service
[submodule "graph-app-discovery-service"]
	path = graph-app-discovery-service
	url = https://github.com/Echelon133/graph-app-discovery-service
[submodule "graph-app-graph-storage-service"]
	path = graph-app-graph-storage-service
	url = https://github.com/Echelon133/graph-app-graph-storage-service
[submodule "graph-app-graph-path-finder-service"]
	path = graph-app-graph-path-finder-service
	url = https://github.com/Echelon133/graph-app-graph-path-finder-service
[submodule "graph-app-gateway-service"]
	path = graph-app-gateway-service
	url = https://github.com/Echelon133/graph-app-gateway-service
